i {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 35px;
  color: #252525;
  transition: 0.6s;
}
i:hover {
  color: #333;
}
i#white {
  color: #efefed;
}
i#white:hover {
  color: #aaa;
}
