# mod_rewrite starts here

RewriteEngine on

# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually shot the page that has the .html extension

RewriteRule ^(.*)$ $1.html