@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Shippori Mincho B1", serif;
}
body {
  background-color: #aaa;
}
h1 {
  text-align: center;
  margin: 20px 20px 0;
  font-size: 35px;
}
h3 {
  text-align: center;
  margin: 10px;
}
h3 a {
  font-size: 28px;
  text-decoration: none;
  color: #252525;
  transition: 0.6s;
}
h3 a:hover {
  color: #444;
}
div.recepty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
}
